@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
html, body {
	background: rgb(52, 166, 251);
	font-family: "Press Start 2P", monospace;
	color: white;
	font-size: 1.125em;
	text-align: center;
	margin: 0;
	padding: 0;
	padding-top: 25px;
	padding-bottom: 25px;
}
h1 {
	font-size: 2.5em;
	margin: 1em;
}
a {
	color: #404040
}
table, tr, td {
	border: none;
	padding: 0;
}
table {
	display: flex;
	align-items: center;
	width: 100vw;
	margin: 0;
	padding: 0;
}
tr {
	display: flex;
	align-items: center;
	min-height: 1em;
	margin: 0;
	padding: 0;
}
tr.empty {
	min-height: 1.5em;
}
td {
	width: 47.5vw;
	padding: 10px;
	margin: 0;
}
td.left {
	text-align: right;
}
td.right {
	text-align: left;
}

p {
	line-height: 2em;
}

span.lava {
	display: inline-block;
	background-color: #ff6464;
	height: 1em;
	width: 1em;
}
span.coin {
	display: inline-block;
	background-color: #f1e559;
	height: 0.6em;
	width: 0.6em;
	line-height: 1.5em;
}
span.player {
	display: inline-block;
	background-color: #404040;
	height: 1em;
	width: 1em;
	border-radius: 7.5px;
}